.login-form {
    max-width: 400px;
    margin: 24px auto 0;
    padding: 1em;
    border-radius: 1em;
    border: 2px solid rgb(248, 150, 133);
    background-color: rgb(235, 190, 190);
    text-align: center;
}

.login-form__field {
    margin-bottom: 1em;
    font-size: 20px;
}

.login-form__field input {
    font-size: inherit;
}
