.button {
    border: 1px solid red;
    padding: .5em 1em;
    background-color: lightpink;
    border-radius: 1em;
    cursor: pointer;
    transition: background-color 100ms;
}

.button:hover {
    background-color: rgb(238, 156, 168);
}